.background-container {
  background-image: url("../assets/flower.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.grid-container {
  display: flex;
  justify-content: center;
  gap:20px;
  opacity: 30%;
  padding: 10px 0px ;
}

.box{
  background-color: #fff;
  height: 150px;
  width: 40%;
  padding: 40px ;
  box-sizing: border-box;
}

.top-padding {
    padding-top: 15%;
}